assertpy
untangle==1.2.1
assertpy==1.1
langchain~=0.3.20
langchain-core~=0.3.44
langchain-community~=0.3.19
langchain-mistralai
langchain-text-splitters~=0.3.6
rank_bm25
faiss-cpu
torch~=2.6.0
numpy~=2.2.3
scipy~=1.15.2
transformers~=4.49.0
spacy~=3.8.4
rouge_score~=0.1.2
nltk~=3.9.1
sentence-transformers==3.4.1
streamlit==1.43.2

